.row
  .col-2
    .h2= @article.title
    - if @user.present?
      .author-info
        %ul
          %li
            = gravatar_for @user, size: 100
          %li
            = link_to @user.username, user_url(@user)
          %li
            .small.text-muted
              = pluralize(@user.articles.count, "article")

  .col-9.bg-light.p-3
    = @article.description

    = render 'article_links'
