.row
  .col-2
    %h1.h1= @user.username
    = gravatar_for @user, size: 120
    .small.text-muted
      = @user.bio

    - if @user == current_user || current_user.admin?
      = link_to 'edit', edit_user_url(@user)
  .col-8
    %h4= "#{@user.username}'s Articles"
    = will_paginate @user_articles
    = render 'articles/articles', obj: @user_articles