%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  %a.navbar-brand{:href => "#"} Navbar
  #navbar.collapse.navbar-collapse
    %ul.navbar-nav
      %li= link_to 'Home', root_url, class: 'nav-item nav-link'
      %li= link_to 'About', about_url, class: 'nav-item nav-link'
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Blog
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to 'Latest', article_url(Article.last), class: 'dropdown-item'
          = link_to 'Articles', articles_url, class: 'dropdown-item'
          = link_to 'New Article', new_article_url, class: 'dropdown-item'


